*{ 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  }

html{
  font-size: 62.5%;
  margin: 0%;
}

header {
  background-color: #668C3F;
  margin-bottom: 10px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

nav {
  padding-top: 30px;
  text-align: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

nav ul li {
  padding: 8px 0;
}

nav ul li a {
  color: #0D090A;
  text-decoration: none;
}

.show-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-img{
max-width: 150px;
height: 150px;
}

.farm-fields-img{
  background-image: url(images/farm_fields.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  height: 600px;
}

.hero-black-creek{
  text-align: center;
  justify-content: center;
  padding-top: 200px;

}

h1{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
}

button{
  background-color: #ffffff; 
  border: none;
  border-radius: 5px;
  color: #0D090A;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.about-farm {
  font-size: 1.2em; 
}

.about-farm h2 {
  font-size: 20px; 
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 100px;
}

.about-farm p {
  font-size: 1.5em;
  text-align: center; 
  padding-top: 125px;
}

.container-a-farm{
  background-color: #F2F2F2;
  max-width: auto;
  height: 400px
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #668c3f;
  font-family: Arial, sans-serif;
}

.toptext {
  margin-bottom: 20px;
  grid-column: span 2;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 20px;
}

.footer-logo img {
  max-width: 150px;
  justify-self: start;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 90px;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    align-items: center;
  }

  nav {
    padding-top: 0;
  }

  nav .toggle {
    display: none;
  }

  #nav-items {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}